.banner {
	background-image: linear-gradient(-255deg, rgba(16, 46, 114, 0.6) 0%, rgba(87, 14, 7, 0.6) 80%), url(../../images/background.jpeg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	font-size: 30px;
}

.banner p {
	font-size: 18px;
	font-weight: 200;
	margin-bottom: 28px;
	opacity: 0.9;
}

