.card {
	align-items: center;
	justify-content: center;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
   flex-basis: 225px;
	padding: 5px 15px;
	margin: 6px 6px;
   flex-grow: 1;
}

.cards {
	display: flex;
	flex-wrap: wrap;
}
