.redbull-bleu {
	color: #0B3159;
	font-size: 18px;
}

.redbull-team {
	color: #0B3159;
	font-size: 18px;
}

.drivers-bleu {
	color: #0B3159;
	font-size: 13px;
}

#chiffres-grands-redbull {
	color: #0B3159;	
	font-size: 28px;
}

.ferrari-rouge {
	color: #BF2C1D;
	font-size: 18px;
}

.ferrari-team {
	color: #BF2C1D;
	font-size: 18px;
}

.drivers-rouge {
	color: #BF2C1D;
	font-size: 13px;
}

#chiffres-grands-ferrari {
	color: #BF2C1D;
	font-size: 28px;
}

.mclaren-orange {
	color: #DE7A3C;
	font-size: 18px;
}

.mclaren-team {
	color: #DE7A3C;
	font-size: 18px;
}

.drivers-orange {
	color: #DE7A3C;
	font-size: 13px;
}

#chiffres-grands-mclaren {
	color: #DE7A3C;
	font-size: 28px;
}

.mercedes-vert {
	color: #65D4BA;
	font-size: 18px;
}

.mercedes-team {
	color:#65D4BA;
	font-size: 18px;
}

.drivers-vert {
	color: #65D4BA;
	font-size: 13px;
}

#chiffres-grands-mercedes {
	color: #65D4BA;	
	font-size: 28px;
}

.aston-martin-vert {
	color: #2A645F;;
	font-size: 18px;
}

.aston-martin-team {
	color:#2A645F;
	font-size: 18px;
}

.drivers-vert-fonce {
	color: #2A645F;
	font-size: 13px;
}

#chiffres-grands-aston-martin {
	color: #2A645F;
	font-size: 28px;
}

.rb-bleu {
	color: #5F8298;
	font-size: 18px;
}

.rb-team {
	color:#5F8298;
	font-size: 18px;
}

.drivers-bleu-gris {
	color: #5F8298;
	font-size: 13px;
}

#chiffres-grands-rb {
	color: #5F8298;
	font-size: 28px;
}

.haas-gris {
	color: #A6A9AA;
	font-size: 18px;
}

.haas-team {
	color:#A6A9AA;
	font-size: 18px;
}

.drivers-gris {
	color: #A6A9AA;
	font-size: 13px;
}

#chiffres-grands-haas {
	color: #A6A9AA;	
	font-size: 28px;
}

.williams-bleu {
	color: #5AACC7;
	font-size: 18px;
}

.williams-team {
	color:#5AACC7;
	font-size: 18px;
}

.drivers-bleu-clair {
	color: #5AACC7;
	font-size: 13px;
}

#chiffres-grands-williams {
	color: #5AACC7;
	font-size: 28px;
}

.kick-sauber-vert {
	color: #63D740;
	font-size: 18px;
}

.kick-sauber-team {
	color:#63D740;
	font-size: 18px;
}

.drivers-vert-vif {
	color: #63D740;
	font-size: 13px;
}

#chiffres-grands-kick-sauber {
	color: #63D740;
	font-size: 28px;
}

.alpine-bleu {
	color: #4386BD;
	font-size: 18px;
}

.alpine-team {
	color:#4386BD;
	font-size: 18px;
}

.drivers-bleu-fonce {
	color: #4386BD;
	font-size: 13px;
}

#chiffres-grands-alpine {
	color: #4386BD;
	font-size: 28px;
}